header {
    font-family: "Playfair";
    font-style: "Normal";
    font-weight: "450";
    background-color: #FAF9F6;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    top: 0;
    position: sticky;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    margin-left: 15px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Playfair";
    font-style: "Normal";
    font-weight: "450";
    background-color: #FAF9F6;
    color: black;
}

.mapoIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapoIntro p {
    max-width: 700px;
    margin: 15 auto;
}

.cook_mapo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.steps ol li {
    max-width: 90ch;
    text-align: justify;
}

.steps h2 {
    display: flex;
    justify-content: center;
}

footer {
    justify-content: center;
    display: flex;
}